In [8]:
import pandas as pd
df = pd.read_csv("./file/data1.csv", encoding="UTF-8")
df

   name  age  score
0   Kim   27     92
1   Lee   33     98
2  Park   19     87

In [9]:
df['name']

0     Kim
1     Lee
2    Park
Name: name, dtype: object

In [13]:
df[0:1]

  name  age  score
0  Kim   27     92

In [14]:
df[1:2]

  name  age  score
1  Lee   33     98

In [15]:
df.loc[0:3,['name']]

   name
0   Kim
1   Lee
2  Park

In [16]:
df.iloc[0,2]

92

In [18]:
df['age'] >= 20

0     True
1     True
2    False
Name: age, dtype: bool

In [21]:
d2 = df[df['age'] >= 20]
d2

  name  age  score
0  Kim   27     92
1  Lee   33     98

In [22]:
df.isna()

    name    age  score
0  False  False  False
1  False  False  False
2  False  False  False

In [27]:
import pandas as pd
x = pd.read_excel("./file/data2.xls")
x

   name  age  score
0   Kim   27     89
1   Lee   35     72
2  Park   18     80